<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Simple Blog</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        {{!-- <header><a href="/" style="display: block;"><img src="/home_logo.png"></a></header> --}}
        <div class="header">
            <h1>Kyle Learns A Lot</h1>
            <p>A blog to document my journey through various hobby projects, including this site.</p>
            <hr>
        </div>
        {{{body}}}
    </body>
</html>