<p>adding new post...</p>
<div class="post-content">
<form id="edit_form" method="POST" action="/savepost/{{id}}">
    <label><input type="text" name="title" id="title_input" placeholder="Title"></label>
    <label><textarea type="text" name="content" id="content_input" rows="auto" placeholder="Type out some content. Make it real insightful."></textarea></label>
    <button type="submit" id="save_button" class="edit_button">Save</button>
</form>

<a href="/"><button id="cancel_button" class="edit_button">Cancel</button></a>
</div>

<div class="footer">
    <a class="footer_button" href="/">_Home</a>
    <a class="footer_button" href="/logout">_Logout</a>
</div>

<script>
    function autoResize(element) {
        element.style.height = 'auto'
        element.style.height = element.scrollHeight + 'px'
    }
    document.addEventListener('DOMContentLoaded', () => {
        const textarea = document.getElementById('content_input')
        autoResize(textarea)
        textarea.addEventListener('input', () => autoResize(textarea))
    })
</script>