{{!-- <h1>Kyle Learns A Lot</h1>
<p>A blog to document my journey through various hobby projects, including this site.</p> --}}
<ul>
  {{#each posts}}
    <li>
      <a href="/post/{{id}}"><h2>{{title}}</h2><p>_{{preview}}</p></a>
    </li>
  {{/each}}
</ul>

<a href="/login"><button>Login</button></a>