<div class="post-content">
    <ul>
    {{#each posts}}
        <li>
        <a href="/post/{{id}}"><h2>{{title}}</h2><p>_{{preview}}</p></a>
        </li>
    {{/each}}
    </ul>
</div>

<div class="footer">
    <a class="footer_button" href="/add">_Add</a>
    <a class="footer_button" href="/login">_Login</a>
</div>