<div class="post-content">
    <form id="login_form" method="POST" action="/login" class="auth_form">
        <label>
            email
            <input id="email_input" type="email" name="email" required>
        </label>
        <label>
            password
            <input id="password_input" type="password" name="password" required>
        </label>
        <button id="login_button" type="submit">login</button>
    </form>
</div>

<div class="footer">
    <a class="footer_button" href="/">_Home</a>
    <a class="footer_button" href="/signup">_Signup</a>
</div>