<h1>{{title}}</h1>
<p class="content">{{content}}</p>
<div class="footer">
    <a class="footer_button" href="/">_Home</a>
    {{#if logged_in}}
        <a class="footer_button" href="/edit/{{id}}">_Edit Post</a>
    {{else}}
        <a class="footer_button" href="/login">_Login</a>
    {{/if}}
</div>