<div class="post-content">
    <form id="signup_form" method="POST" actions="/signup">
        <label>email<input type="text"></label>
        <label>password<input type="text"></label>
        <label>confirm password<input type="text"></label>
        <button>signup</button>
    </form>

</div>

<div class="footer">
    <a class="footer_button" href="/">_Home</a>
</div>